body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.spisok {
    border: 2px solid black;
    margin: 0px auto;
    padding: 0px;
    display: inline-block;
    height: 780px;
    overflow: hidden;
}
.headings {
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-User {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.cells {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cells:hover {
    cursor: pointer;
}
.heading {
    box-sizing: border-box;
    height: 30px;
    width: 200px;
    border: 2px solid black;
    margin: 0px;
    text-align: center;
}
.heading:hover {
    cursor: pointer;
}
.cell {
    box-sizing: border-box;
    height: 15px;
    width: 200px;
    border: 1px solid black;
    margin: 0px;
    text-align: left;
    font-size: 14px;
}
.num {
    opacity: 0.5; 
    margin: 0px auto; 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}
.num > div {
    cursor: pointer;
    text-align: center;
}
.forms {
    margin: 10px auto;
}
.form {
    display: inline;
}


